.intro{
    background-color: #00524B !important;
    align-items: center;
    justify-content: center;
    padding-top: 50px !important;
    background-image: url('../images/intro-bg.svg');
    background-size: 100% 100%;
}
@font-face {
    font-family: belgan;
    src: url('./belgan.otf');
  }
.dev-name-1{
    font-size: 150px;
    font-family: belgan !important;
    color: rgb(219, 14, 14);
}
.dev-name-2{
    font-size: 150px;
    font-family: belgan !important;
    color: rgb(230, 230, 24);
}

.intro p{
    color: rgba(255, 255, 255, 0.822);
}
.get-started{
    background-color: #068378;
    padding: 10px 25px;
    border: none;
    color: white;
}

.hire-me{
    background-color: #ecf7f6;
    padding: 10px 25px;
    border: none;
    color: rgb(14, 13, 13);
}




@media only screen and (max-width : 600px){
    .dev-name-1{
        font-size: 70px;
        font-family: belgan !important;
        color: rgb(219, 14, 14);
    }
    .dev-name-2{
        font-size: 70px;
        font-family: belgan !important;
        color: rgb(230, 230, 24);
    }
}