.project{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px gray;
    border-radius: 80%;
    position: relative;
}
.project img{
    height: 250px;
    width: 250px;
}

.project .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;left: 0;right: 0;
    padding: 50px;
    border-radius: 80%;
    opacity: 0;
}

.project .overlay:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    border-radius: 0;
    transition: all 0.3s;
}